{% include 'header.html.twig' %}
<h1>Strona główna</h1>
<div id="pageMain">
    {% for post in posts %}
    <article class="post">
        <h2 class="postTitle">{{ post.getTitle() }}</h2>
        <img src="{{ post.getFilename() }}">
        <h6 class=""postMeta>
            Data publikacji: {{ post.getTimestamp() }}
        </h6>
    </article>    
    {% endfor %}
</div>



{% include 'footer.html.twig' %} 